* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  border-collapse: collapse;
}
body {
  font-family: Montserrat;
}
section {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: #274599;
  padding: 25px auto;
  max-width: 244px;
  height: 64px;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  min-width: 244px;
}
h2 {
  font-size: 42px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
  color: #000000;
  text-transform: uppercase;
}
section.offer {
  padding-top: 40px;
  padding-bottom: 8%;
  position: relative;
}
section.offer .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
section.offer .container .left {
  width: 60%;
}
section.offer .container .left .logo_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 90px;
}
section.offer .container .left .logo_name h1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 105%;
  margin-left: 20px;
  color: #274599;
  letter-spacing: 20.5px;
}
section.offer .container .left .logo_name h1 span {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
}
section.offer .container .left .tagline h2 {
  font-style: normal;
  font-weight: 200;
  font-size: 45px;
  color: #274599;
  line-height: 110%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin-bottom: 70px;
}
section.offer .container .left .tagline h2 b {
  color: black;
}
section.offer .container .left .tagline p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #002549;
  max-width: 400px;
  margin-bottom: 50px;
}
section.offer .container .left .tagline p b {
  color: black;
}
section.offer .container .left button {
  margin-top: 50px;
}
section.offer .container .logo_pic {
  display: none;
}
section.offer .container .right {
  width: 40%;
  padding: 70px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: #002549;
}
section.offer .container .right h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 160%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
section.offer .container .right .telephone {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}
section.offer .container .right .telephone .phone {
  font-weight: 700;
  font-size: 22px;
}
section.offer .container .right .telephone::after {
  content: url(../img/icons/icon_phone.svg);
  position: absolute;
  left: -45px;
  top: -5px;
}
section.offer .container .right .data {
  text-align: right;
  font-weight: 500;
  font-size: 24px;
  line-height: 157%;
  text-transform: uppercase;
  margin-bottom: 220px;
}
section.offer .container .right .data span {
  font-weight: 800;
}
section.offer .container .yellow {
  position: absolute;
  width: 55%;
  height: 574px;
  top: 200px;
  right: 0;
  background-color: #fbc605;
  clip-path: polygon(26% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: -1;
}
section.offer .container .center {
  position: absolute;
  transform: translate3d(30%, 0%, 10px);
  z-index: -1;
}
section.goals {
  padding-top: 80px;
  position: relative;
}
section.goals .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
section.goals .container .wrap_img img {
  position: absolute;
  left: 0;
  top: 80px;
  max-width: 570px;
  width: 40%;
}
section.goals .container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  padding-left: 5%;
}
section.goals .container .wrapper h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 40px;
}
section.goals .container .wrapper .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
section.goals .container .wrapper .items p {
  font-size: 20px;
  line-height: 180%;
  width: 180px;
  padding-top: 10px;
  margin-right: 10px;
  position: relative;
}
section.goals .container .wrapper .items p:after {
  content: url(../img/icons/border_yellow_black.svg);
  position: absolute;
  left: -5px;
  top: -20px;
}
section.goals .container .yellow {
  width: 305px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 25px;
  background: #fbc605;
  z-index: -1;
}
section.days {
  margin-top: 70px;
  margin-bottom: 40px;
  position: relative;
}
section.days .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 30px;
}
section.days .container .wrap {
  position: relative;
  margin: 0 auto;
}
section.days .container .wrap h2 {
  background-color: white;
  margin-bottom: 70px;
  padding: 25px 25px 0 25px;
}
section.days .container .wrap .yellow_h {
  position: absolute;
  left: 78%;
  top: 17px;
  z-index: -1;
  width: 115px;
  height: 100px;
  background-color: #fbc605;
}
section.days .container .first_day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 60px;
}
section.days .container .first_day .wrap_img_first {
  display: none;
}
section.days .container .first_day .info_day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}
section.days .container .first_day .info_day .number_day {
  position: relative;
}
section.days .container .first_day .info_day .number_day h4 {
  font-weight: bold;
  font-size: 70px;
  padding-left: 15px;
  color: #002549;
  background-color: white;
  margin-bottom: 25px;
}
section.days .container .first_day .info_day .number_day h4 span {
  font-weight: 600;
  font-size: 27px;
  position: absolute;
  top: 0;
  left: 55px;
}
section.days .container .first_day .info_day .number_day .yellow_numb {
  position: absolute;
  left: -15px;
  top: -15px;
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: #fbc605;
}
section.days .container .first_day .info_day p {
  margin: 15px 15px 15px 50px;
  line-height: 170%;
  position: relative;
  margin-bottom: 25px;
}
section.days .container .first_day .info_day p::before {
  position: absolute;
  left: -80px;
  top: -5px;
}
section.days .container .first_day .info_day p:nth-child(2)::before {
  content: url(../img/icons/time_clock-1.png);
}
section.days .container .first_day .info_day p:nth-child(3)::before {
  content: url(../img/icons/time_clock-2.png);
}
section.days .container .first_day .info_day p:nth-child(4)::before {
  content: url(../img/icons/time_clock-3.png);
}
section.days .container .first_day .info_day p:nth-child(5)::before {
  content: url(../img/icons/time_clock-4.png);
}
section.days .container .first_day .info_day p:nth-child(6)::before {
  content: url(../img/icons/time_clock-5.png);
}
section.days .container .first_day img {
  margin: 50px 30px;
  width: 50%;
  max-width: 585px;
}
section.days .container .first_day .yellow_big {
  position: absolute;
  width: 473px;
  height: 624px;
  top: 170px;
  right: 40px;
  z-index: -1;
  background-color: #fbc605;
}
section.days .container .first_day .quote {
  position: absolute;
  left: 145px;
  max-width: 500px;
  top: 650px;
}
section.days .container .first_day .quote .wrapper {
  position: relative;
}
section.days .container .first_day .quote .wrapper img {
  width: 35%;
  margin: 30px 0 0 0;
}
section.days .container .first_day .quote .wrapper .title {
  position: absolute;
  top: 140px;
  left: 30px;
  font-weight: bold;
  font-size: 40px;
  line-height: 145%;
  color: #525252;
}
section.days .container .first_day .quote .wrapper .list {
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #525252;
  margin-left: 55px;
}
section.days .container .first_day .quote .wrapper .list:before {
  content: url(../img/icons/square.jpg);
  position: absolute;
  left: 5px;
}
section.days .container .secondary_day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 60px;
  flex-direction: row-reverse;
  position: relative;
  margin-top: 50px;
}
section.days .container .secondary_day .wrap_img_first {
  display: none;
}
section.days .container .secondary_day .info_day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}
section.days .container .secondary_day .info_day .number_day {
  position: relative;
}
section.days .container .secondary_day .info_day .number_day h4 {
  font-weight: bold;
  font-size: 70px;
  padding-left: 15px;
  color: #002549;
  background-color: white;
  margin-bottom: 25px;
}
section.days .container .secondary_day .info_day .number_day h4 span {
  font-weight: 600;
  font-size: 27px;
  position: absolute;
  top: 0;
  left: 55px;
}
section.days .container .secondary_day .info_day .number_day .yellow_numb {
  position: absolute;
  left: -15px;
  top: -15px;
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: #fbc605;
}
section.days .container .secondary_day .info_day p {
  margin: 15px 15px 15px 50px;
  line-height: 170%;
  position: relative;
  margin-bottom: 25px;
}
section.days .container .secondary_day .info_day p::before {
  position: absolute;
  left: -80px;
  top: -5px;
}
section.days .container .secondary_day .info_day p:nth-child(2)::before {
  content: url(../img/icons/time_clock-1.png);
}
section.days .container .secondary_day .info_day p:nth-child(3)::before {
  content: url(../img/icons/time_clock-2.png);
}
section.days .container .secondary_day .info_day p:nth-child(4)::before {
  content: url(../img/icons/time_clock-3.png);
}
section.days .container .secondary_day .info_day p:nth-child(5)::before {
  content: url(../img/icons/time_clock-4.png);
}
section.days .container .secondary_day .info_day p:nth-child(6)::before {
  content: url(../img/icons/time_clock-5.png);
}
section.days .container .secondary_day img {
  margin: 50px 30px;
  width: 50%;
  max-width: 585px;
}
section.days .container .secondary_day .yellow_big {
  position: absolute;
  width: 473px;
  height: 624px;
  top: 170px;
  right: 40px;
  z-index: -1;
  background-color: #fbc605;
}
section.days .container .secondary_day .quote {
  position: absolute;
  left: 145px;
  max-width: 500px;
  top: 650px;
}
section.days .container .secondary_day .quote .wrapper {
  position: relative;
}
section.days .container .secondary_day .quote .wrapper img {
  width: 35%;
  margin: 30px 0 0 0;
}
section.days .container .secondary_day .quote .wrapper .title {
  position: absolute;
  top: 140px;
  left: 30px;
  font-weight: bold;
  font-size: 40px;
  line-height: 145%;
  color: #525252;
}
section.days .container .secondary_day .quote .wrapper .list {
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #525252;
  margin-left: 55px;
}
section.days .container .secondary_day .quote .wrapper .list:before {
  content: url(../img/icons/square.jpg);
  position: absolute;
  left: 5px;
}
section.days .container .secondary_day .info_day .number_day h4 span {
  left: 70px;
}
section.days .container .secondary_day img {
  margin: 20px 100px 0 -22px;
}
section.days .container .secondary_day .yellow_big {
  height: 450px;
  top: -40px;
  left: -120px;
}
section.you_can {
  position: relative;
}
section.you_can .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.you_can .container .wrapper_h {
  align-self: flex-end;
  margin-bottom: 35px;
  width: 49%;
}
section.you_can .container .wrapper_h span {
  font-weight: bold;
  font-size: 20px;
  line-height: 145%;
  color: #000000;
}
section.you_can .container .list_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
}
section.you_can .container .list_wrap .item {
  display: flex;
  flex-direction: row;
  width: 47%;
  margin: 35px 10px;
}
section.you_can .container .list_wrap .item .number_day {
  position: relative;
}
section.you_can .container .list_wrap .item .number_day h4 {
  font-weight: bold;
  font-size: 70px;
  padding-left: 20px;
  color: #002549;
  background-color: white;
  margin-bottom: 25px;
  width: 95px;
}
section.you_can .container .list_wrap .item .number_day h4 span {
  font-weight: 600;
  font-size: 27px;
  position: absolute;
  top: 0;
  left: 55px;
}
section.you_can .container .list_wrap .item .number_day .yellow_numb {
  position: absolute;
  left: -15px;
  top: -15px;
  z-index: -1;
  width: 90px;
  height: 100px;
  background-color: #fbc605;
}
section.you_can .container .list_wrap .item p {
  font-weight: 300;
  font-size: 23px;
  line-height: 152.2%;
  color: #000000;
}
section.you_can .container .list_wrap .item p b {
  font-size: 27px;
}
section.you_can .container .list_wrap .null {
  opacity: 0;
}
section.you_can .container .quote {
  position: absolute;
  left: 145px;
  max-width: 500px;
  top: -40px;
}
section.you_can .container .quote .wrapper {
  position: relative;
}
section.you_can .container .quote .wrapper img {
  width: 35%;
  margin: 30px 0 0 0;
}
section.you_can .container .quote .wrapper .title {
  position: absolute;
  top: 140px;
  left: 30px;
  font-weight: bold;
  font-size: 40px;
  line-height: 145%;
  color: #525252;
}
section.you_can .container .quote .wrapper .list {
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #525252;
  margin-left: 55px;
}
section.you_can .container .quote .wrapper .list:before {
  content: url(../img/icons/square.jpg);
  position: absolute;
  left: 5px;
}
section.price {
  padding: 40px 0px 80px 0px;
}
section.price .container .wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.price .container .wrap h2 {
  display: inline-block;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 30px;
  padding: 25px 25px 0 25px;
}
section.price .container .wrap .yellow_h {
  position: absolute;
  left: 30%;
  top: 17px;
  z-index: -1;
  width: 115px;
  height: 100px;
  background-color: #fbc605;
}
section.price .container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.price .container .wrapper .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f7f7;
  width: 40%;
  min-height: 420px;
  margin: 30px;
  padding-bottom: 50px;
  border-radius: 20px;
}
section.price .container .wrapper .card .about {
  color: black;
  font-weight: bold;
  font-size: 32px;
  line-height: 175%;
  text-align: center;
  background-color: #e9eaeb;
  width: 100%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
section.price .container .wrapper .card p {
  color: black;
  font-weight: bold;
  font-size: 44px;
  line-height: 175%;
  text-align: center;
}
section.trainer {
  background-color: #f7f7f7;
}
section.trainer .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.trainer .container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section.trainer .container .wrapper .about_trainer {
  width: 55%;
  color: black;
  padding: 70px 20px 30px 20px;
  margin-right: 40px;
}
section.trainer .container .wrapper .about_trainer span {
  display: inline-block;
}
section.trainer .container .wrapper .about_trainer .author {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.155em;
}
section.trainer .container .wrapper .about_trainer h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 195%;
}
section.trainer .container .wrapper .about_trainer .more_about {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin: 20px 0;
}
section.trainer .container .wrapper .about_trainer .project {
  font-weight: 600;
  font-size: 22px;
  line-height: 170%;
  color: #525252;
  margin-bottom: 20px;
}
section.trainer .container .wrapper .about_trainer p {
  position: relative;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #525252;
  margin-bottom: 15px;
  margin-left: 40px;
}
section.trainer .container .wrapper .about_trainer p:before {
  content: url(../img/icons/check.svg);
  position: absolute;
  left: -40px;
}
section.trainer .container .wrapper .photo {
  position: relative;
  width: 45%;
  z-index: 2;
  margin-top: 75px;
}
section.trainer .container .wrapper .photo .yellow {
  position: absolute;
  top: -50px;
  right: -90px;
  width: 445px;
  height: 565px;
  background-color: #fbc605;
  z-index: -1;
}
section.trainer .container .center {
  padding: 40px 20px 60px 20px;
  width: 80%;
}
section.trainer .container .center p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
section.time {
  padding: 50px 0px;
}
section.time .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.time .container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
section.time .container .wrapper .photo {
  background-image: url(../img/time1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 50%;
}
section.time .container .wrapper .photo img {
  display: none;
}
section.time .container .wrapper .text {
  position: relative;
  width: 45%;
  margin-left: 5%;
}
section.time .container .wrapper .text .quote {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
}
section.time .container .wrapper .text .quote .wrap {
  position: relative;
}
section.time .container .wrapper .text .quote .wrap img {
  width: 35%;
  margin: 0px 0 0 0;
}
section.time .container .wrapper .text .quote .wrap .title {
  position: absolute;
  top: 110px;
  left: 30px;
  font-weight: bold;
  font-size: 40px;
  line-height: 145%;
  color: #525252;
}
section.time .container .wrapper .text .list {
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #525252;
  margin-left: 55px;
  margin-top: 230px;
}
section.time .container .wrapper .text .list p {
  margin-bottom: 40px;
}
section.time .container .wrapper .text .list p:before {
  content: url(../img/icons/square.jpg);
  position: absolute;
  left: 5px;
}
section.time2 {
  padding: 50px 0px;
  background-color: #eef0ef;
}
section.time2 .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.time2 .container .wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
section.time2 .container .wrapper .photo {
  background-image: url(../img/time2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 50%;
}
section.time2 .container .wrapper .photo img {
  display: none;
}
section.time2 .container .wrapper .text {
  position: relative;
  width: 45%;
  margin-right: 5%;
}
section.time2 .container .wrapper .text .quote {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
}
section.time2 .container .wrapper .text .quote .wrap {
  position: relative;
}
section.time2 .container .wrapper .text .quote .wrap img {
  width: 35%;
  margin: 0px 0 0 0;
}
section.time2 .container .wrapper .text .quote .wrap .title {
  position: absolute;
  top: 110px;
  left: 30px;
  font-weight: bold;
  font-size: 40px;
  line-height: 145%;
  color: #525252;
}
section.time2 .container .wrapper .text .list {
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #525252;
  margin-left: 55px;
  margin-top: 270px;
}
section.time2 .container .wrapper .text .list p {
  margin-bottom: 40px;
}
section.time2 .container .wrapper .text .list p:before {
  content: url(../img/icons/square.jpg);
  position: absolute;
  left: 5px;
}
section.action {
  padding: 50px 0;
  background-color: #fbc605;
}
section.action .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.action .container h2 {
  margin-bottom: 20px;
}
section.action .container h2 b {
  margin-left: 10px;
}
section.action .container form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
section.action .container form input {
  width: 20%;
  min-width: 100px;
  height: 64px;
  background-color: #ffffff;
  border-radius: 14px;
  font-weight: normal;
  font-size: 18px;
  line-height: 64px;
  color: #959292;
  border: none;
  padding-left: 20px;
  margin: 20px;
}
section.action .container form input.send {
  background: #274599;
  padding: 25px auto;
  max-width: 244px;
  height: 64px;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  min-width: 244px;
  padding-left: 0px;
}
section.lose .container {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.lose .container .wrapper_h {
  margin-bottom: 75px;
  width: 100%;
  text-align: center;
}
section.lose .container .wrapper_h span {
  font-weight: bold;
  font-size: 20px;
  line-height: 145%;
  color: #000000;
}
section.lose .container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
section.lose .container .wrapper .left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  font-style: normal;
  font-weight: 200;
  font-size: 27px;
  line-height: 33px;
  color: #000000;
  background-color: white;
  margin-bottom: 70px;
}
section.lose .container .wrapper .left .yellow {
  top: 3px;
  position: absolute;
  width: 481px;
  height: 385px;
  right: -40px;
  bottom: -21px;
  background: #fbc605;
  z-index: -1;
}
section.lose .container .wrapper .left p {
  margin-bottom: 25px;
}
section.lose .container .wrapper .left p:nth-child(1) {
  transform: rotate(-20deg) translate(-100px, 15px);
}
section.lose .container .wrapper .left p:nth-child(2) {
  transform: rotate(-4.32deg) translate(120px, 5px);
}
section.lose .container .wrapper .left p:nth-child(3) {
  transform: rotate(0deg) translate(-110px, 25px);
}
section.lose .container .wrapper .left p:nth-child(4) {
  transform: rotate(25deg) translate(110px, -20px);
}
section.lose .container .wrapper .left p:nth-child(5) {
  transform: rotate(-25deg) translate(-80px, -20px);
}
section.lose .container .wrapper .left p:nth-child(6) {
  transform: translate(0px, 20px);
}
section.lose .container .wrapper .right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 280px;
  font-style: normal;
  font-weight: 200;
  font-size: 27px;
  line-height: 33px;
  color: #000000;
  background-color: white;
  margin-bottom: 70px;
  padding: 15px 0 0 0px;
}
section.lose .container .wrapper .right p {
  margin-bottom: 10px;
  position: relative;
}
section.lose .container .wrapper .right p:before {
  content: url(../img/icons/check.svg);
  position: absolute;
  top: 0px;
  left: -50px;
}
section.lose .container .wrapper .left:before {
  content: url(../img/icons/border_yellow_black.svg);
  position: absolute;
  top: -40px;
  left: 47%;
}
section.lose .container .wrapper .right:before {
  content: url(../img/icons/border_yellow_black.svg);
  position: absolute;
  top: -40px;
  left: 45px;
}
section.lose .container button {
  margin-top: 20px;
}
section.gallery .container {
  max-width: 1440px;
  position: relative;
  margin-bottom: 50px;
}
section.gallery .container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
section.gallery .container .mobile {
  display: none;
}
section.gallery .container .slider img {
  margin: 20px;
  max-height: 400px;
}
section.gallery .container .slider .translate1 {
  transform: translateY(-30px);
}
section.gallery .container .slider .translate2 {
  transform: translateY(10px);
}
section.gallery .container .slider button {
  width: 25px;
  height: 25px;
  background: #264088;
  color: #264088;
  border-radius: 4px;
  min-width: 25px;
}
section.gallery .container .slider li {
  list-style-type: none;
  margin: 3px !important;
}
section.gallery .container .slider .slick-dots {
  display: flex;
  margin-left: 20%;
}
section.gallery .container .slider li.slick-active {
  opacity: 0.5;
}
section.gallery .container .yellow1 {
  position: absolute;
  width: 30%;
  height: 61%;
  left: 190px;
  top: 120px;
  background: #fbc605;
  z-index: -1;
}
section.gallery .container .yellow2 {
  position: absolute;
  width: 30%;
  height: 61%;
  right: 33px;
  top: 250px;
  background: #fbc605;
  z-index: -1;
}
section.write {
  padding: 70px 0;
  background-image: url(../img/fon_send.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section.write .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.write .container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}
section.write .container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
section.write .container form input {
  width: 50%;
  min-width: 250px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 14px;
  font-weight: normal;
  font-size: 18px;
  line-height: 64px;
  color: #959292;
  border: none;
  padding: 0 20px;
  margin: 20px;
}
section.write .container form .question {
  width: 50%;
  min-width: 250px;
  height: 170px;
  background-color: #ffffff;
  border-radius: 14px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #959292;
  border: none;
  padding: 20px;
  margin: 20px;
}
section.write .container form input.send {
  background: #274599;
  padding: 25px auto;
  max-width: 244px;
  height: 64px;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  min-width: 244px;
  padding-left: 0px;
}
footer {
  min-height: 150px;
  background-color: #fbc605;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer .container .wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 224.19%;
  color: #ffffff;
}
footer .container .wrap p {
  margin-left: 10px;
}
.cover {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.boxForm {
  background: #f0f0f0;
  border-radius: 6px;
  position: absolute;
  left: 33%;
  top: 33%;
  width: 33%;
  z-index: 2;
}
.close {
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  color: black;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.form_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.form_style input {
  background-color: white;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: none;
  padding: 5px 15px;
  margin: 10px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
}
.form_style .send {
  width: 220px;
  height: 50px;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  margin: 10px;
  background-color: #264088;
  border-radius: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 40px;
  color: #ffffff;
}
.form_style .check_input {
  width: 25px;
  height: 25px;
}
.form_style .remodal-close {
  display: none;
}
.form_style .modal_pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form_style .pdoform_h1 {
  margin-bottom: 15px;
  text-align: center;
}
.remodal {
  display: none;
}
